# Compiled and build artifacts
*.pyc
__pycache__/
*.o
*.obj
*.class
*.dll
*.so
*.a
*.exe
*.out

# Dependencies
node_modules/
venv/
.venv/
.env
.env.local
.env.*

# Build outputs
dist/
build/
target/
*.log
*.tmp
*.swp

# Editors
.vscode/
.idea/

# Coverage
.coverage
coverage/
htmlcov/

# Gradle
.gradle/

# MyPy
.mypy_cache/

# Pytest
.pytest_cache/